{% include base_path %}


{% assign title = post.title %}

<div class="publications">
  <article>

    <div class="container" style="display: flex;">
      <img class="publication_pic" style="height: auto; float: left; object-fit: contain; border-color: black;border: solid;" src="{{ post.image }}" alt="" />
      <div class="clearfix">
        <h2> {{ title }} </h2>
        <p> <i class="fa fa-users" aria-hidden="true"></i> {{ post.authors }} </p>
        <p> <i class="fa fa-book" aria-hidden="true"> </i> <em> {{ post.conference }} </em> </p>
        {% if post.date and post.location %}
          <p class="page__date"><i class="fa fa-calendar" aria-hidden="true" ></i> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time> <i class="fas fa-map-marker-alt" style="color: #960a0a" aria-hidden="true"></i> {{post.location}}</p>
        {% endif %}
        <a href="{{ post.paperurl }}" rel="permalink" class="btn2" target="_blank"> Full Paper </a>  {% if post.youtubeId %} <a href="https://youtu.be/{{ post.youtubeId }}" rel="permalink" class="btn2" target="_blank" > Video </a> {% endif %}
      </div>
    </div>
    <hr />
 </article>
</div>

