/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */
html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  // padding-bottom: 9em;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: $type-size-3;
  color: $black;
}

h2 {
  font-size: $type-size-4;
}

h3 {
  font-size: $type-size-5;
}

h4 {
  font-size: $type-size-6;
}

h5 {
  font-size: $type-size-6;
}

h6 {
  font-size: $type-size-6;
}

small, .small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid $primary-color;

  cite {
    font-style: italic;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/* links */

a {
  &:focus {
    @extend %tab-focus;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

/* code */

tt, code, kbd, samp, pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: $type-size-6;
  background: $code-background-color;
  border: 1px solid $lighter-gray;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &:before, &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

.profile{
  width: 400px;
}

.clearfix{
  margin-left: 1em;
  margin-right: 1em;
}

.mini_pic{
  width: 175px;
}

.publication_mini{
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  
  h3{
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0%;
    color: $darkest-gray;
    width: 100%;
  }

  .clearfix{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  p{
    margin-top: 0%;
    margin-left: 0.5%;
    margin-bottom: 0%;
  }
}

.publication_pic{
  width: 300px;
}

.project_pic{
  width: 300px;
}

.project_spic{
  width: 300px;
}

.youtubePlayerContainer{
  width: 60%;
}

.publications{
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  
  h2{
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.1em;
    color: $darkest-gray;
    width: 100%;
  }

  .clearfix{
    margin-left: 0.5em;
    margin-right: 0.5em;
    p { 
      margin-bottom: 0.15em; // Add space between paragraphs
      margin-top: 0.15em;
      font-size: $type-size-5
    }

    .btn2 {
      margin-bottom: 0.1em; // Add space below buttons
    }
  }

  .bibtex-code, 
  .abstract-text {
    margin-top: 0.5em; 
    white-space: normal;
    font-family: monospace;   // Use a monospace font
    background-color: rgba(0, 0, 0, 0.1);  // Dark background
    // color: #eee;             // Light text color
    padding: 1em;            // Add some padding
    border-radius: 4px;      // Optional: Add rounded corners
    overflow: auto;          // Add scrollbar if content overflows
    font-size: $type-size-5-5;
  }

}

.year-header {
  display: flex; /* Use flexbox for easy alignment */
  align-items: center; /* Vertically center the line and year */
  margin-top: 0.5em; /* Add some space above the header */
  margin-bottom: 0.5em; /* Add some space below the header */
}

.year-header .line {
  flex-grow: 1; /* Allow the line to take up the available space */
  height: 3px; /* Set the line thickness */
  background-color: $dark-gray; /* Set the line color (adjust as needed) */
  margin-right: 0.5em; /* Add some space between the line and the year */
}

.year-header .year {
  font-weight: bold; /* Make the year stand out */
  white-space: nowrap; /* Prevent the year from wrapping to the next line */
  font-size: $type-size-3;
  color: $dark-gray;
}

.projects{
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  
  h2{
    margin-top: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.25em;
    color: $darkest-gray;
    width: 100%;
    a {
      text-decoration: underline;
      color: #000;
      
      &:hover {
        text-decoration: underline;
        color: $info-color;
      }
    }
  }

  .clearfix{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  p{
    margin-top: 0.25em;
    margin-left: 0.5%;
    margin-bottom: 0.25em;
    font-size: $type-size-5;
  }

}

.researchs{
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  
  h2{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    color: $darkest-gray;
    width: 100%;
    a {
      text-decoration: underline;
      color: #000;
      
      &:hover {
        text-decoration: underline;
        color: $info-color;
      }
    }
  }

  h3{
    margin-top: 0.5%;
    margin-left: 0.75%;
    margin-bottom: 0.25%;
    color: $darkest-gray;
    width: 100%;
    a {
      text-decoration: underline;
      // color: #000;
      
      &:hover {
        text-decoration: underline;
        color: $info-color;
      }
    }
  }

  .clearfix{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  p{
    margin-top: 0%;
    margin-left: 0.75%;
    margin-bottom: 0%;
  }

  ul li, ol li {
    margin-bottom: 0;
  }
  ul{
    margin-block-start: 0;
    margin-block-end: 0;
  }

}

@media (max-width: 750px) {
  .container2{
    flex-direction: column;
    align-items: center !important;
  }

  .publications{
    .clearfix{
      margin-left: auto;
      margin-right: auto;
    }
  }

  pre, code {
    white-space: pre-wrap;  
    word-wrap: break-word;      /* Force long words to break */
  }

  .mini_pic{
    max-width: 90vw;
  }

  .publication_pic{
    max-width: 90vw;
  }


  .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center !important;

    .profile{
      margin-left: 0em !important;
    }
  }

}

@media (max-width: 850px) {

  .profile{
    max-width: 90vw;
  }

  .projects{
    .clearfix{
      margin-left: auto;
      margin-right: auto;
    }
  }

  .project_pic{
    max-width: 90vw;
    width: 90% !important;
  }

  .container3{
    flex-direction: column !important;
    align-items: center !important;
  }

  .clearfix{
    margin-top: 1vw;
  }
  
  .project_spic{
    max-width: 90vw;
  }

  .youtubePlayerContainer{
    width: 100%;
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: mix(#fff, $text-color, 25%);
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
}


/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}


/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .btn, .highlight, .archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}
