---
layout: default
---

<div id="main" role="main">

  <div class=".pub_archive">
    <h1 style="text-align: center;" >{{ page.title }}</h1>
    <h3 style="text-align: center; margin-top: 0; margin-bottom: 0.5em"> <i class="fa fa-users" aria-hidden="true"></i> {{ page.authors }} </h3>
    {% if page.conference %}
    <h3 style="text-align: center; margin-top: 0; margin-bottom: 0.5em"> <i class="fa fa-book" aria-hidden="true"> </i> <em> {{ page.conference }} </em> </h3>
    {% endif %}
    {{ content }}
    
  </div>

</div>
